@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
@import "../helpers/variables";

$main-font: "Roboto Mono", monospace;
$title-font: "Share Tech Mono", monospace;
$background-color: var(--color-dracula-content-window);
$muted-color: var(--color-dracula-inactive);
$text-color: var(--color-dracula-text-primary);

.chat-message {
  font-family: $main-font !important;
}

.system-cyberpunk-red-core {
  .actor-sheet,
  .item-sheet {
    font-family: $main-font;
    background-color: $background-color !important;
    grid-template-columns: 200px auto;

    input {
      &:hover {
        background-color: $borderSecondary !important;
        border: none;
      }

      &:focus {
        background: $borderSecondary;
        border-width: 2px;
        box-shadow: none;
      }

      &::placeholder {
        color: $inactive;
        text-shadow: 0 0 2px $glow;
      }
    }

    .tab-pink-underlay {
      background: none;
      clip-path: none;
      padding-left: 0px;
    }

    .tab-label {
      background: var(--color-dracula-content-window);
      color: var(--color-dracula-inactive);
      text-transform: uppercase;
      font-size: 1rem;

      &.tab-indent {
        clip-path: none;
      }

      &.active {
        color: var(--color-dracula-text-primary);
        border: 1px solid var(--color-dracula-border-secondary);
        background: var(--color-dracula-border-secondary) !important;
        border-bottom: none;
      }
    }

    // List of items, generic style
    .items-list {
      background: none;

      .items-header {
        font-family: $title-font;
        background: var(--color-dracula-border-secondary);
        color: var(--color-dracula-text-tertiary);
        border-bottom: 1px solid $muted-color;
        text-transform: uppercase;
      }

      .item {
        font-size: 0.7rem;
        padding: 0.1rem 0.1rem 0.1rem 0.2rem;

        &:nth-child(odd) {
            background: none !important;
        }

        &:nth-child(even) {
          background: none !important;
        }

        &:last-of-type {
            margin-bottom: 0.5rem;
        }

        &:hover {
            background: var(--color-dracula-accent);
        }

        .text-bold {
            color: var(--color-dracula-accent-secondary);
        }
      }
    }

    .main-block {
      background-color: var(--color-dracula-content) !important;
      color: var(--color-dracula-text-primary) !important;
      //border: 1px solid var(--color-dracula-accent) !important;
      margin: 0rem 0rem 0.5rem 0rem !important;
      padding: 0.2rem;
      height: auto;
      width: auto;

      .block-label {
        color: $muted-color;
        font-size: 0.8rem;
        font-family: $title-font;
        text-decoration: underline;
      }

      .block-data {
        color: $text-color;
        font-size: 1rem;
        font-family: $main-font;
      }
    }

    .min-of-max-container {
      input {
        &:first-of-type {
          text-align: right;
        }

        &:last-of-type {
          text-align: left;
        }
      }

      .of,
      .of-stat {
        visibility: hidden;
        transform: none;
        position: relative;
        width: 10px;

        &::after {
          display: block;
          visibility: visible;
          content: "/";
          color: $muted-color;
          position: absolute;
          top: -5px;
          left: 0px;
          font-size: 1.2rem;
        }
      }
    }

    .stats-section {
      background: none !important;

      .stat-block {
        margin: 0px 0px 5px 0px !important;
        width: auto !important;
        background-color: var(--color-dracula-content) !important;
        border: 1px solid var(--color-dracula-border-secondary);

        .block-label {
          font-family: $title-font;
          font-size: 0.9rem;
          color: $muted-color;
        }

        .block-data {
          color: $text-color;
          font-size: 1rem;
        }
      }
    }

    // Left pane with the character avatar, data and stas.
    .left-pane {
      background-color: $background-color !important;

      .image-block {
        width: auto;
        height: auto;
        display: flex;
        margin: auto;
      }

      .main-section {
        background-color: $background-color !important;
        width: auto;
      }
    }

    // Main panel with skills, equipment, etc
    .right-pane {
      background: $background-color;
      padding: 0rem 0.2rem;
      border: none;

      .right-tabs-section {
        height: auto;
        font-family: $title-font;
      }

      .right-content-section {
        border: 1px solid var(--color-dracula-border-secondary);
        padding: 0.5rem;
      }

      .skills-tab {
        background: none;
      }
    }

    // Bottom pane with extra details
    .bottom-pane {
      .bottom-tabs-section {
        height: auto;
        font-family: $title-font;
      }
    }

    .block-label {
      font-family: $title-font;
    }
  }

  .sheet {
    .navtabs-item {
      font-family: $title-font;
    }

    .item-summary-section {
      padding: 0.6rem 0rem;

      .summary-name {
        font-family: $title-font;
      }
    }

    .item-description-section {
      padding: 0rem 1rem;
    }

    .item-settings-tab {
      //   ol {
      //     &.items-list {
      //       li.item:nth-child(odd) {
      //         background-color: var(--color-dracula-border-secondary);
      //       }
      //     }
      //   }

      .setting-name {
        font-family: $title-font;
      }
    }

    .tab {
      background-color: var(--color-dracula-content) !important;

      .item-effects-section {
        background-color: var(--color-dracula-content) !important;

        .effects-list {
          background: none !important;
        }
      }
    }
  }
}

.system-cyberpunk-red-core .dialog .dialog-content ol {
  background-color: transparent !important;
}

.system-cyberpunk-red-core .item-sheet hr {
  border-bottom: 1px groove var(--color-dracula-accent);
}

.system-cyberpunk-red-core .item-sheet .item-top-pane {
  background: var(--color-dracula-accent) !important;
}

.system-cyberpunk-red-core .item-sheet .item-top-pane .item-image-section {
  background: var(--color-dracula-accent-secondary) !important;
}

.system-cyberpunk-red-core .item-sheet .item-top-pane .item-header-section {
  background-color: var(--color-dracula-content) !important;
}

.system-cyberpunk-red-core .actor-sheet .right-content-section,
.system-cyberpunk-red-core .item-sheet .item-bottom-content-section {
  //   border-color: var(--color-dracula-border) !important;
  //   border-width: 0px;
  //   padding: 0px;
  //   border: none;
}

.system-cyberpunk-red-core .actor-sheet .tab .items-header span {
  background-color: transparent !important;
}

.system-cyberpunk-red-core
  .item-sheet
  .item-bottom-content-section
  .item-description-tab {
  background-color: transparent !important;
}

.system-cyberpunk-red-core
  .item-sheet
  .item-bottom-content-section
  .item-description-grid,
.system-cyberpunk-red-core
  .item-sheet
  .item-bottom-content-section
  .item-summary-section,
.system-cyberpunk-red-core
  .item-sheet
  .item-bottom-content-section
  .item-description-section,
.system-cyberpunk-red-core
  .item-sheet
  .item-bottom-content-section
  .item-settings-grid,
.system-cyberpunk-red-core
  .item-sheet
  .item-bottom-content-section
  .item-settings-section,
.system-cyberpunk-red-core
  .item-sheet
  .item-bottom-content-section
  .compatible-ammo,
.system-cyberpunk-red-core
  .item-sheet
  .item-bottom-content-section
  .compatible-ammo
  li:nth-child(odd),
.system-cyberpunk-red-core
  .item-sheet
  .item-bottom-content-section
  .compatible-ammo
  li:nth-child(even) {
  background-color: var(--color-dracula-content) !important;
}

.system-cyberpunk-red-core .bottom-pane .bottom-content-section {
  background-color: var(--color-dracula-content) !important;
  border-color: var(--color-dracula-border) !important;
  border: none;
}

.system-cyberpunk-red-core .bottom-pane .tab,
.system-cyberpunk-red-core .bottom-pane .tab .fight-tab,
.system-cyberpunk-red-core .bottom-pane .tab .fight-tab .injuries-section,
.system-cyberpunk-red-core .bottom-pane .tab .fight-tab .armor-section,
.system-cyberpunk-red-core .bottom-pane .tab .fight-tab .weapon-section,
.system-cyberpunk-red-core
  .bottom-pane
  .tab
  .fight-tab
  .interface-abilities-section,
.system-cyberpunk-red-core
  .bottom-pane
  .tab
  .fight-tab
  .cyberdeck-installed-section,
.system-cyberpunk-red-core
  .bottom-pane
  .tab
  .fight-tab
  .cyberdeck-rezzed-section,
.system-cyberpunk-red-core
  .bottom-pane
  .bottom-content-section
  .tab
  .lifepath-tab {
  background-color: var(--color-dracula-content) !important;
}

.system-cyberpunk-red-core
  .bottom-pane
  .tab
  .fight-tab
  .cyberdeck-rezzed-section
  .items-header
  div {
  background-color: transparent;
}

.system-cyberpunk-red-core .actor-sheet .right-pane .tab,
.system-cyberpunk-red-core .actor-sheet .right-pane .tab .gear-tab-data,
.system-cyberpunk-red-core
  .actor-sheet
  .right-pane
  .tab
  .gear-tab-data
  .top-pane-gear,
.system-cyberpunk-red-core
  .actor-sheet
  .right-pane
  .tab
  .gear-tab-data
  .bottom-pane-gear {
  background-color: var(--color-dracula-content);

  .effects-list {
    background-color: var(--color-dracula-content);
  }
}

.system-cyberpunk-red-core
  .actor-sheet
  .right-pane
  .tab
  .gear-tab-data
  .bottom-pane-gear {
  border-width: 2px;
  border-color: var(--color-dracula-border-secondary);
  padding-top: 4px;
}

/* CHAT */

.system-cyberpunk-red-core .chat-message {
  background: var(--color-dracula-content) !important;
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(
      to right bottom,
      var(--color-dracula-accent),
      var(--color-dracula-accent-tertiary)
    )
    1;
}

.system-cyberpunk-red-core .chat-message .cpr-block {
  background-color: var(--color-dracula-content);
  padding: 2px;
  clip-path: none;
  /*border: 1px solid var(--color-dracula-border-secondary);*/
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(
      to top,
      var(--color-dracula-border-secondary),
      var(--color-dracula-border)
    )
    1;
}

.system-cyberpunk-red-core .chat-message .cpr-block::before {
  background-color: var(--color-dracula-content);
}
